.section.about {
    color: rgb(74, 87, 86);
}

.about_info {
    display: flex;
}

.about_wrapper img {
    width: 350px;
    height: 340px;
}

.about_info_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}