.clients_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.clients_wrapper img {
    height: 80px;
    filter: grayscale(100%);
    opacity: 0.7;
}

.clients_wrapper img:hover {
    filter: none;
    opacity: 1;
}