footer {
    background-color: rgb(59, 59, 59);
    color: #fff;
    font-size: 16px;
    padding: 30px 0;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_wrapper div {
    max-width: 33.3%;
    width: 100%;
    text-align: center;
}

.footer.logo a {
    text-decoration: none;
    color: #fff;
}

.footer_developer span {
    font-weight: 700;
}