.section.form {
    color: rgb(74, 87, 86);
}

.form p {
    text-align: center;
}

form {
    margin: 80px 50px 0;
}

.form_wrapper {
   margin: 0 auto;
   justify-content: center;
}

.form_wrapper,
.form_item {
    display: flex;
}

.form_item {
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
}

.form_item input:not(:last-child) {
    margin-bottom: 30px;
}

.form_item input,
textarea {
    padding: 20px;
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
}

.form_item:not(:last-child) {
    padding-right: 25px;
}

::placeholder {
    font-size: 14px;
    color: rgb(146, 146, 146);
    font-family: 'OpenSans', Verdana, Geneva, Tahoma, sans-serif;
}

:focus::placeholder {
    color: transparent;
}

textarea {
    height: 100%;
    margin-left: 25px;
}

form .button {
    display: block;
    margin: 60px auto 0;
}
