.header {
    height: 100%;
    max-height: 100vh;
    background-color: #22d4d4;
    color: #fff;
    overflow: hidden;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;    
}

.logo {
    font-size: 40px;
    font-weight: 800;
}

.logo span {
    font-weight: bold;
}

.header.logo a,
.header_nav_list_item a {
    text-decoration: none;
    color: #fff;
}

.header_nav_list{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}

.header_nav_list_item:not(:first-child) {
    margin-left: 60px;
}

.header_promo {
    height: calc(100vh - 88px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
}

.header_promo_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header_promo_info_title {
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 80px;
}

.header_promo_info .button {
    margin-bottom: 20px;
}

.header_promo_slider,
.header_promo_slider_images,
.header_promo_slider_btn {
    display: flex;
    align-items: center;
}

.header_promo_slider {
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}

.header_promo_slider_images {
    justify-content: flex-start;
    max-width: 426px;
    width: 100%;
    height: 600px;
}

.header_promo_slider_btns_btn {
    width: 15px;
    height: 7px;
    border: none;
    margin: 0 5px;
}