.section.services {
    background-color: rgb(59, 59, 59);
    color: #fff;
}

.services_wrapper .title span {
    color: #fff;
}

.service_accordion {
    margin-top: 100px;
}

.accordion_heading,
.service_accordion_list,
.list_item {
    display: flex;
    align-items: center;
}

.accordion_heading {
    padding: 15px 30px;
    justify-content: flex-start;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    position: relative;
}

.accordion_heading:hover,
.accordion_heading.active {
    background-color: rgba(212, 212, 212, 0.35);
}

.accordion_heading img {
    width: 100px;
    margin-right: 80px;
}

.accordion_btn {
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #da3838;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    position: absolute;
    right: 30px;
    top: 40px;
}

.accordion_btn.active {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
}

.accordion_content,
.accordion_content p {
    background-color: rgba(212, 212, 212, 0.45);
    transition: all 500ms ease-in-out;
}

.service_accordion_list {
    list-style-type: none;
    padding: 50px 0;
    justify-content: space-evenly;
    background-color: rgba(212, 212, 212, 0.5);
}   

.list_item {
    flex-direction: column;
    justify-content: center;
}

.accordion_title {
    text-transform: uppercase;
    font-size: 25px;
}

.list_item img {
    width: 150px;
}

.item_title {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
}

.accordion_content p {
    padding: 40px 60px;
}